/* Add CSS Styling */
.odd {
    background-color: pink;
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

#blue-el {
    color: blue;
    font-size: 36px;
}

.big {
    font-size: 24px;
}

#green-el {
    background-color: lightgreen;
    font-weight: bold;
}
